.alert {
    @apply flex items-center justify-between py-3 px-4 border border-solid box-border rounded text-b2;
}

.alert-info {
    @apply justify-self-start;
    min-width: 254px;

    @media screen and (max-width: 360px) {
        min-width: auto;
    }
}

.alert-icon {
    @apply mr-2;
    width: 1rem;
    height: 1rem;

    background: #000;
}

.alert-close {
    @apply ml-8;
    width: 1rem;
    height: 1rem;

    background: #000;
}

.alert-success {
    @apply border-support-success bg-alert-success text-support-success;
}

.alert-warning {
    @apply border-support-warning bg-alert-warning text-support-warning;
}

.alert-error {
    @apply border-support-error bg-alert-error text-support-error;
}
