.btn {
  @apply border-0 rounded px-4 py-2 text-h2 bg-purple-500 text-white;
  &:disabled {
    @apply bg-neutral-30;
  }
}

.btn-sm {
  @apply text-h3;
}

.btn-md {
  @apply text-h2;
}

.btn-lg {
  @apply text-h1 px-6 py-3;
}

.btn-primary {
  @apply bg-primary text-white;
  &:hover {
    @apply bg-primary-10;
  }
  &:focus {
    @apply bg-primary-40;
  }
}

.btn-alt {
  @apply bg-secondary text-white;
  border-width: 1px;
}

.btn-secondary {
  @apply bg-white text-primary border-primary;
  border-width: 1px;
  &:hover,
  &:focus {
    @apply bg-white text-primary border-primary;
    border-width: 1px;
  }
}
